// .post-page {
//     background: #f9f9f9;
// }
.steps {
    margin: 0 25%;
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    &--item {
        
        text-align: center;
        max-width: 100px;
        position: relative;

        &__icon {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            
            border-radius: 5px;
            font-size: 28px;
            line-height: 45px;
            color: #8A8A8F;
            background: #EFEFF4;
        }
        &__title {
            position: absolute;
            width: 100px;
            left: -50%;
            top: 105%;
            font-size: 18px;
        }

    }

    &--content {
        max-height: 60vh;
        margin: 50px 0 0 0;
        padding: 50px 30px;
        border: 1px dashed #e9e9e9;
        border-radius: 6px;
        background-color: #fafafa;
        width: 100%;
        overflow-y: scroll;

        &__intro {

            &-img {
                & img {
                    display: block;
                    margin: 0 auto;
                }
            }

            & span {
                display: inline-block;
                margin: 20px 50px 0 50px;
                font-weight: 600;
                font-size: 20px;
                line-height: 33px;
                text-align: center;
                color: #3E74FF;

            }
        }
    }

    &--bridge {
        width: 100%;
        height: 5px;
        background: #EFEFF4;
    }

    &--control {
        padding: 20px 10%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &__back {
            color: #FD3D76;
            font-size: 18px;
            display: flex;
            align-items: center;
            cursor: pointer;

            & > i {
                font-size: 28px;
                padding-right: 10px;
            }
            & > span {
                padding-bottom: 2px;
            }
        }

        &__continute {
            padding: 5px 15px;
            background: #FD3D76;
            color: #fff;
            font-size: 18px;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
.current-step {
    border: 2px solid #FD3D76;
    background: #fff;
    color: #FD3D76;
}
.done-step {
    background: #FD3D76;
    color: #fff;
}

.done-bridge {
    background: #FD3D76;
}
